<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/create']" style="margin-bottom:20px;" class="btn btn-success">Add new note</a>
    <table class="table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of notes">
      <th>{{item.text}}</th>
      <td><a [routerLink]="['/edit/'+item._id]" class="btn btn-info">Edit</a>&nbsp;<a (click)="deleteNote(item._id)" class="btn btn-danger">Delete</a></td>
    </tr>
  </tbody>
</table>
  </div>
</div>
